[submodule "External/JNISharp"]
	path = External/JNISharp
	url = https://github.com/LemonLoader/JNISharp.git
[submodule "External/MonoMod"]
	path = External/MonoMod
	url = https://github.com/LemonLoader/MonoMod.git
	branch = macos-m1
[submodule "External/HarmonyX"]
	path = External/HarmonyX
	url = https://github.com/LemonLoader/HarmonyX.git
[submodule "External/Cpp2IL"]
	path = External/Cpp2IL
	url = https://github.com/SamboyCoding/Cpp2IL.git
